@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html,
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.solution {
  min-height: 40rem;
  position: relative;
}

.cardContainer svg {
  position: relative;
  z-index: 1;
  width: 80px;
  height: 80px;
}

.cardContainer:hover {
  color: white;
  transition: color 0.4s;
}

.cardContainer:hover .fillElement {
  width: 300%;
  height: 300%;
}

.cardContainer:hover svg path {
  fill: white;
  transition: fill 0.4s;
}

.fillElement {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #456f72;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
}
